.row,
.col {
  color: white;
  background: #78C2AD;
  border-radius: 15px;
}
.nav-link {
  color: white;
}
.collapsible {
  background-color: #F3969A;
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px;
}
.active,
.collapsible:hover {
  background-color: #888;
}
.content {
  display: none;
  overflow: hidden;
  background-color: #888;
}
.form-inline {
  padding: 10px;
}
.btn {
  background: #888;
  padding: 5px;
  color: white;
}
p {
  padding: 10px;
}
.dropbtn {
  background-color: #F3969A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #888;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #888;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #F3969A;
}
table,
th,
td {
  border: 1px solid #78C2AD;
}
.customerRequest {
  margin: auto;
  width: 50%;
  background: #78C2AD;
  border-radius: 15px;
}
.customerRequest .customer {
  padding: 30px;
}
.customerRequest .cust-area {
  width: 80%;
  height: 150px;
  resize: none;
}
.customerRequest .cust-name {
  width: 50%;
}
